In [45]:
import pandas as pd

features = ['name','gender','people','year']
df = pd.read_table('popular-names.txt',names=features)

print(len(df))
# 2780

2780

In [2]:
# 11.タブをスペースに置換
df.to_csv('popular-names_space.txt',sep=' ')

In [10]:
# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
col1 = df['name']
col2 = df['gender']

with open('col1.txt','w') as f:
    for elem in col1:
        f.write("%s\n" % elem)    

with open('col2.txt','w') as g:
    for elem in col2:
        g.write("%s\n"% elem)

In [27]:
# 13. col1.txtとcol2.txtをマージ
df_col1 = pd.read_table('col1.txt',sep='\n',names=['name'])
df_col2 = pd.read_table('col2.txt',sep='\n',names=['gender'])

col1_list = df_col1['name']
col2_list = df_col2['gender']

df_merge = pd.DataFrame([col1_list,col2_list])
df_merge = df_merge.T # 転置しておく
print(df_merge)
"""
Name: gender, Length: 2780, dtype: object
           name gender
0          Mary      F
1          Anna      F
2          Emma      F
3     Elizabeth      F
4        Minnie      F
...         ...    ...
2775   Benjamin      M
2776     Elijah      M
2777      Lucas      M
2778      Mason      M
2779      Logan      M

"""

df_merge.to_csv('col_merge.txt',sep='\t',index=False) # indexはデフォルトでTrueに設定されているおり、表示しないために変更

0       F
1       F
2       F
3       F
4       F
       ..
2775    M
2776    M
2777    M
2778    M
2779    M
Name: gender, Length: 2780, dtype: object
           name gender
0          Mary      F
1          Anna      F
2          Emma      F
3     Elizabeth      F
4        Minnie      F
...         ...    ...
2775   Benjamin      M
2776     Elijah      M
2777      Lucas      M
2778      Mason      M
2779      Logan      M

[2780 rows x 2 columns]

In [29]:
# 14. 先頭からN行を出力
# コマンドライン引数をargv[1]などで受け取ったものとする
N = 5

print(df[0:N])
print(df.head(5))

# for文でN回readlines()を行い、都度出力する方法などが想定解と思われる
"""
name gender  people  year
0       Mary      F    7065  1880
1       Anna      F    2604  1880
2       Emma      F    2003  1880
3  Elizabeth      F    1939  1880
4     Minnie      F    1746  1880
"""

        name gender  people  year
0       Mary      F    7065  1880
1       Anna      F    2604  1880
2       Emma      F    2003  1880
3  Elizabeth      F    1939  1880
4     Minnie      F    1746  1880
        name gender  people  year
0       Mary      F    7065  1880
1       Anna      F    2604  1880
2       Emma      F    2003  1880
3  Elizabeth      F    1939  1880
4     Minnie      F    1746  1880

'\nname gender  people  year\n0       Mary      F    7065  1880\n1       Anna      F    2604  1880\n2       Emma      F    2003  1880\n3  Elizabeth      F    1939  1880\n4     Minnie      F    1746  1880\n'

In [30]:
# 15. 末尾のN行を出力
N = 5

print(df[len(df)-N:])
print(df.tail(N))
"""
          name gender  people  year
2775  Benjamin      M   13381  2018
2776    Elijah      M   12886  2018
2777     Lucas      M   12585  2018
2778     Mason      M   12435  2018
2779     Logan      M   12352  2018
"""

          name gender  people  year
2775  Benjamin      M   13381  2018
2776    Elijah      M   12886  2018
2777     Lucas      M   12585  2018
2778     Mason      M   12435  2018
2779     Logan      M   12352  2018
          name gender  people  year
2775  Benjamin      M   13381  2018
2776    Elijah      M   12886  2018
2777     Lucas      M   12585  2018
2778     Mason      M   12435  2018
2779     Logan      M   12352  2018

In [65]:
# 16. ファイルをN分割する
# https://www.delftstack.com/ja/howto/python-pandas/split-pandas-dataframe/ (2022/05/04参照)

N = 3

print(len(df))
print(int(len(df)/N))
"""
2780
926
"""
df_list = []

for i in range(N):    
    df_list.append(df[int(i*len(df)/N) : int((i+1)*len(df)/N)])

for elem in df_list:
    print(elem.head(3))
    
"""
   name gender  people  year
0  Mary      F    7065  1880
1  Anna      F    2604  1880
2  Emma      F    2003  1880
         name gender  people  year
926     Doris      F   16298  1926
927  Virginia      F   16162  1926
928   Mildred      F   13551  1926
        name gender  people  year
1853   David      M   46366  1972
1854    John      M   43181  1972
1855  Robert      M   43037  1972
"""

"""
# splitコマンドで行う場合、 -nオプションで5分割可能。
# 下記の場合、split/ 以下に分割されたファイルが格納される
$ split -n 5 popular-names.txt split/

"""

2780
926
   name gender  people  year
0  Mary      F    7065  1880
1  Anna      F    2604  1880
2  Emma      F    2003  1880
         name gender  people  year
926     Doris      F   16298  1926
927  Virginia      F   16162  1926
928   Mildred      F   13551  1926
        name gender  people  year
1853   David      M   46366  1972
1854    John      M   43181  1972
1855  Robert      M   43037  1972

In [69]:
# 17. １列目の文字列の異なり
# https://note.nkmk.me/python-list-duplicate-check/ (2022/05/04 参照)

col1 = df['name'] # 1列目
col1_list = col1.values.tolist()
col1_set = set(col1_list) # setによって重複削除
print(list(col1_set))

"""
['Patricia', 'Jason', 'Marie', 'Joshua', 'Minnie', 'Melissa', 'Susan', 'Mason', 'Lauren',
'Virginia', 'Frances', 'Alice', 'Linda', 'Liam', 'Henry', 'Megan', 'Gary', 'Angela', 
'Lisa', 'Margaret', 'Daniel', 'Jacob', 'Amy', 'Rebecca', 'Kathleen', 'Christopher', 
'Barbara', 'Ethan', 'Hannah', 'Karen', 'Lillian', 'Donald', 'John', 'Shirley',
'Heather', 'Mark', 'Joan', 'David', 'Alexander', 'Noah', 'Oliver', 'Larry', 'Sophia',
'Stephanie', 'Sarah', 'Deborah', 'Brandon', 'Carolyn', 'Tracy', 'Olivia', 'Harper', 
'Joseph', 'Lori', 'Judith', 'Justin', 'Jayden', 'Florence', 'Carol', 'Mia', 'Jessica',
'Samantha', 'Helen', 'Crystal', 'Rachel', 'Dorothy', 'Isabella', 'Julie', 'Michelle',
'Emily', 'Charles', 'Walter', 'Nicole', 'Amanda', 'Lucas', 'Richard', 'Brittany',
'Amelia', 'Mary', 'Steven', 'Bessie', 'Evelyn', 'Ida', 'Emma', 'Jennifer', 'Taylor',
'Logan', 'Ashley', 'Alexis', 'Harry', 'Nancy', 'Ronald', 'Michael', 'Sharon', 'Andrew'
, 'Abigail', 'Pamela', 'Kimberly', 'Kelly', 'Betty', 'Annie', 'Matthew', 'Elizabeth',
'Clara', 'Tammy', 'Madison', 'Thomas', 'William', 'Sandra', 'Charlotte', 'Tyler',
'Debra', 'Benjamin', 'James', 'Scott', 'Aiden', 'Robert', 'Doris', 'Frank', 'Ava', 
'Austin', 'Cynthia', 'George', 'Anna', 'Donna', 'Chloe', 'Elijah', 'Nicholas', 
'Anthony', 'Jeffrey', 'Edward', 'Bertha', 'Ruth', 'Brian', 'Mildred', 'Laura', 'Ethel']
"""

['Patricia', 'Jason', 'Marie', 'Joshua', 'Minnie', 'Melissa', 'Susan', 'Mason', 'Lauren', 'Virginia', 'Frances', 'Alice', 'Linda', 'Liam', 'Henry', 'Megan', 'Gary', 'Angela', 'Lisa', 'Margaret', 'Daniel', 'Jacob', 'Amy', 'Rebecca', 'Kathleen', 'Christopher', 'Barbara', 'Ethan', 'Hannah', 'Karen', 'Lillian', 'Donald', 'John', 'Shirley', 'Heather', 'Mark', 'Joan', 'David', 'Alexander', 'Noah', 'Oliver', 'Larry', 'Sophia', 'Stephanie', 'Sarah', 'Deborah', 'Brandon', 'Carolyn', 'Tracy', 'Olivia', 'Harper', 'Joseph', 'Lori', 'Judith', 'Justin', 'Jayden', 'Florence', 'Carol', 'Mia', 'Jessica', 'Samantha', 'Helen', 'Crystal', 'Rachel', 'Dorothy', 'Isabella', 'Julie', 'Michelle', 'Emily', 'Charles', 'Walter', 'Nicole', 'Amanda', 'Lucas', 'Richard', 'Brittany', 'Amelia', 'Mary', 'Steven', 'Bessie', 'Evelyn', 'Ida', 'Emma', 'Jennifer', 'Taylor', 'Logan', 'Ashley', 'Alexis', 'Harry', 'Nancy', 'Ronald', 'Michael', 'Sharon', 'Andrew', 'Abigail', 'Pamela', 'Kimberly', 'Kelly', 'Betty', 'Annie', 'Matthew', 'Elizabeth', 'Clara', 'Tammy', 'Madison', 'Thomas', 'William', 'Sandra', 'Charlotte', 'Tyler', 'Debra', 'Benjamin', 'James', 'Scott', 'Aiden', 'Robert', 'Doris', 'Frank', 'Ava', 'Austin', 'Cynthia', 'George', 'Anna', 'Donna', 'Chloe', 'Elijah', 'Nicholas', 'Anthony', 'Jeffrey', 'Edward', 'Bertha', 'Ruth', 'Brian', 'Mildred', 'Laura', 'Ethel']

In [70]:
# 18. 各行を3コラム目の数値の降順にソート
df_s = df.sort_values('people',ascending=False) # ascending=True : 昇順がデフォルト

print(df_s.head(5))
print(df_s.tail(5))

"""
         name gender  people  year
1340    Linda      F   99689  1947
1360    Linda      F   96211  1948
1350    James      M   94757  1947
1550  Michael      M   92704  1957
1351   Robert      M   91640  1947
      name gender  people  year
27   Annie      F    1326  1881
28  Bertha      F    1324  1881
8   Bertha      F    1320  1880
29   Alice      F    1308  1881
9    Sarah      F    1288  1880
"""

         name gender  people  year
1340    Linda      F   99689  1947
1360    Linda      F   96211  1948
1350    James      M   94757  1947
1550  Michael      M   92704  1957
1351   Robert      M   91640  1947
      name gender  people  year
27   Annie      F    1326  1881
28  Bertha      F    1324  1881
8   Bertha      F    1320  1880
29   Alice      F    1308  1881
9    Sarah      F    1288  1880

In [85]:
# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
# https://note.nkmk.me/python-collections-counter/ (2022/05/04参照)

import collections

col1 = df['name'] # 1列目
col_dict = collections.Counter(col1)
col_dict = dict(col_dict)
col_list = list(zip(col_dict.keys(),col_dict.values()))
col_keys=col_dict.keys()
print(col_list) # [('name','frequency')] が表示される
print(list(col_keys))

"""
['Mary', 'Anna', 'Emma', 'Elizabeth', 'Minnie', 'Margaret', 'Ida', 'Alice', 'Bertha',
'Sarah', 'John', 'William', 'James', 'Charles', 'George', 'Frank', 'Joseph', 'Thomas',
'Henry', 'Robert', 'Annie', 'Edward', 'Clara', 'Florence', 'Ethel', 'Bessie', 'Harry',
'Helen', 'Ruth', 'Marie', 'Lillian', 'Mildred', 'Dorothy', 'Frances', 'Walter', 
'Evelyn', 'Virginia', 'Richard', 'Betty', 'Donald', 'Doris', 'Shirley', 'Barbara', 
'Patricia', 'Joan', 'Nancy', 'Carol', 'David', 'Ronald', 'Judith', 'Linda', 'Sandra',
'Carolyn', 'Sharon', 'Michael', 'Susan', 'Donna', 'Larry', 'Kathleen', 'Deborah', 
'Gary', 'Karen', 'Debra', 'Pamela', 'Cynthia', 'Mark', 'Steven', 'Lisa', 'Jeffrey', 
'Lori', 'Kimberly', 'Tammy', 'Angela', 'Michelle', 'Jennifer', 'Melissa', 'Christopher',
'Brian', 'Amy', 'Laura', 'Tracy', 'Julie', 'Jason', 'Scott', 'Stephanie', 'Heather',
'Nicole', 'Matthew', 'Rebecca', 'Jessica', 'Amanda', 'Daniel', 'Kelly', 'Joshua', 
'Crystal', 'Ashley', 'Megan', 'Brittany', 'Andrew', 'Justin', 'Samantha', 'Lauren',
'Emily', 'Brandon', 'Tyler', 'Taylor', 'Nicholas', 'Jacob', 'Hannah', 'Austin', 
'Alexis', 'Rachel', 'Madison', 'Abigail', 'Olivia', 'Ethan', 'Anthony', 'Isabella', 
'Ava', 'Sophia', 'Chloe', 'Alexander', 'Mia', 'Jayden', 'Noah', 'Aiden', 'Mason',
'Liam', 'Charlotte', 'Harper', 'Benjamin', 'Elijah', 'Amelia', 'Logan', 'Oliver', 'Lucas']
"""

[('Mary', 92), ('Anna', 41), ('Emma', 35), ('Elizabeth', 73), ('Minnie', 12), ('Margaret', 60), ('Ida', 8), ('Alice', 10), ('Bertha', 12), ('Sarah', 26), ('John', 108), ('William', 111), ('James', 118), ('Charles', 75), ('George', 58), ('Frank', 43), ('Joseph', 70), ('Thomas', 58), ('Henry', 23), ('Robert', 108), ('Annie', 5), ('Edward', 40), ('Clara', 8), ('Florence', 20), ('Ethel', 16), ('Bessie', 2), ('Harry', 7), ('Helen', 45), ('Ruth', 39), ('Marie', 20), ('Lillian', 4), ('Mildred', 24), ('Dorothy', 36), ('Frances', 15), ('Walter', 1), ('Evelyn', 3), ('Virginia', 13), ('Richard', 51), ('Betty', 24), ('Donald', 20), ('Doris', 10), ('Shirley', 14), ('Barbara', 32), ('Patricia', 38), ('Joan', 9), ('Nancy', 22), ('Carol', 15), ('David', 57), ('Ronald', 10), ('Judith', 8), ('Linda', 26), ('Sandra', 16), ('Carolyn', 1), ('Sharon', 7), ('Michael', 74), ('Susan', 24), ('Donna', 12), ('Larry', 2), ('Kathleen', 4), ('Deborah', 13), ('Gary', 5), ('Karen', 18), ('Debra', 9), ('Pamela', 1), ('Cynthia', 11), ('Mark', 16), ('Steven', 7), ('Lisa', 18), ('Jeffrey', 5), ('Lori', 1), ('Kimberly', 14), ('Tammy', 7), ('Angela', 15), ('Michelle', 15), ('Jennifer', 26), ('Melissa', 18), ('Christopher', 43), ('Brian', 13), ('Amy', 14), ('Laura', 1), ('Tracy', 1), ('Julie', 1), ('Jason', 13), ('Scott', 1), ('Stephanie', 17), ('Heather', 15), ('Nicole', 13), ('Matthew', 37), ('Rebecca', 2), ('Jessica', 25), ('Amanda', 20), ('Daniel', 31), ('Kelly', 1), ('Joshua', 31), ('Crystal', 1), ('Ashley', 23), ('Megan', 3), ('Brittany', 10), ('Andrew', 21), ('Justin', 4), ('Samantha', 19), ('Lauren', 2), ('Emily', 26), ('Brandon', 7), ('Tyler', 9), ('Taylor', 8), ('Nicholas', 10), ('Jacob', 25), ('Hannah', 13), ('Austin', 4), ('Alexis', 8), ('Rachel', 1), ('Madison', 18), ('Abigail', 17), ('Olivia', 18), ('Ethan', 15), ('Anthony', 6), ('Isabella', 15), ('Ava', 14), ('Sophia', 13), ('Chloe', 4), ('Alexander', 8), ('Mia', 10), ('Jayden', 5), ('Noah', 10), ('Aiden', 3), ('Mason', 8), ('Liam', 7), ('Charlotte', 5), ('Harper', 3), ('Benjamin', 4), ('Elijah', 3), ('Amelia', 2), ('Logan', 2), ('Oliver', 2), ('Lucas', 1)]
['Mary', 'Anna', 'Emma', 'Elizabeth', 'Minnie', 'Margaret', 'Ida', 'Alice', 'Bertha', 'Sarah', 'John', 'William', 'James', 'Charles', 'George', 'Frank', 'Joseph', 'Thomas', 'Henry', 'Robert', 'Annie', 'Edward', 'Clara', 'Florence', 'Ethel', 'Bessie', 'Harry', 'Helen', 'Ruth', 'Marie', 'Lillian', 'Mildred', 'Dorothy', 'Frances', 'Walter', 'Evelyn', 'Virginia', 'Richard', 'Betty', 'Donald', 'Doris', 'Shirley', 'Barbara', 'Patricia', 'Joan', 'Nancy', 'Carol', 'David', 'Ronald', 'Judith', 'Linda', 'Sandra', 'Carolyn', 'Sharon', 'Michael', 'Susan', 'Donna', 'Larry', 'Kathleen', 'Deborah', 'Gary', 'Karen', 'Debra', 'Pamela', 'Cynthia', 'Mark', 'Steven', 'Lisa', 'Jeffrey', 'Lori', 'Kimberly', 'Tammy', 'Angela', 'Michelle', 'Jennifer', 'Melissa', 'Christopher', 'Brian', 'Amy', 'Laura', 'Tracy', 'Julie', 'Jason', 'Scott', 'Stephanie', 'Heather', 'Nicole', 'Matthew', 'Rebecca', 'Jessica', 'Amanda', 'Daniel', 'Kelly', 'Joshua', 'Crystal', 'Ashley', 'Megan', 'Brittany', 'Andrew', 'Justin', 'Samantha', 'Lauren', 'Emily', 'Brandon', 'Tyler', 'Taylor', 'Nicholas', 'Jacob', 'Hannah', 'Austin', 'Alexis', 'Rachel', 'Madison', 'Abigail', 'Olivia', 'Ethan', 'Anthony', 'Isabella', 'Ava', 'Sophia', 'Chloe', 'Alexander', 'Mia', 'Jayden', 'Noah', 'Aiden', 'Mason', 'Liam', 'Charlotte', 'Harper', 'Benjamin', 'Elijah', 'Amelia', 'Logan', 'Oliver', 'Lucas']